@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Outfit', sans-serif;

}

img {
    height: 100%;
    width: 100%;
}

.imgContainer {
    width: 290px;
    border-radius: 16px;
    overflow: hidden;
}
.main {
    width: 320px;
    text-align: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 16px;
}
.txtContainer {
    padding: 1rem 1rem;
}
.smallerFont {
    padding: 1rem 0.5rem;
    color: hsl(220, 15%, 55%);
}
.heading {
    color: hsl(218, 44%, 22%);
}